body {
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 50%;
    margin: 10% auto;
    background-color: #FFF;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0px;
}
